/* styles.css */

/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

/* Style for the game canvas */
#gameCanvas {
    display: block;
    width: 100%;
    height: 75%; /* Adjust height to leave space for HUD */
}

#logo{
    width: 50%;
    display: block;
    top: 5%;
    position: absolute;
}

/* HUD styles */
#hud {
    display: none;
    justify-content: space-between; /* Space out the score and webcam */
    align-items: center; /* Center align items vertically */
    padding: 10px; /* Padding around the HUD */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background for visibility */
    color: white; /* Text color */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 20%; /* Fixed height for HUD */
}

#game-over-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0; /* Stay on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with some transparency */
    color: white; /* White text color */
    text-align: center; /* Center text */
    padding-top: 20%; /* Add some space from the top */
    z-index: 1000; /* Ensure it sits on top of other content */
}


#camera {
    height: 90%;
}

/* Styles for webcam and webcamCanvas */
#webcam, #webcamCanvas {
    width: auto; /* Make them responsive */
    height: 100%; /* Match the height of the HUD */
    padding-right: 50px;
}

/* Score styling */
#score {
    margin-left: 10px; /* Spacing from the left */
    font-size: 40px; /* Font size for score display */
    font-family:"Brush Script MT", fantasy;
}
#pausePrompt{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}


#initial-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(30, 61, 47);
    color: white;
}

#start-text{
    position: absolute;
    bottom: 10%;
    text-align: center;
}

#countdown {
    font-size: 30px;
}
